body{
    background-image: url("/assets/image3.jpg");
    background-size: cover;
    height: 300vh;
    background-repeat: no-repeat;
 
}

#button{
    margin-left: 20px;
}
#box-container{
    text-align: center;
    margin-top: 50px;
}
#results{
 
 margin-top: 80px;
}
#btn-search{
    border: 1px solid gray;
    border-top-right-radius: 20px;
    background-color: #0d6efd;
}
#image{
    height: 400px;
    width: 300px;
}
#meals-container{
   margin-top: 100px;

}
#heading{
    font-style: italic;
    color: white;
    font-size: 70px;
}
#meals-container h3{
    color: white;
}
#box-container h2{
    color: white;
}
#box-container{
    font-style: oblique;
    font-size: 12px;
    color: #0d6efd;
}
 /*
#meals-container {
    flex: 33.33%;
    padding: 5px;
}*/
.wrapper{
    text-align: center;
    padding: 2rem;
    background: scroll;
    max-width: 1200px;
}
.meal-item{
    display: flex;
    flex-direction:column;
   }
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
   
}



