body{
background-image: url("https://images.unsplash.com/photo-1581349485608-9469926a8e5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2hlZiUyMGNvb2tpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
background-size: cover;
background-repeat: no-repeat;


}
#button{
    margin-left: 20px;
}
#box-container{
    text-align: center;
    margin-top: 50px;
}

#btn-search{
    border: 1px solid gray;
    border-top-right-radius: 20px;
    background-color: #0d6efd;
}
#image{
    height: 300px;
    width: 300px;
}
#meals-container{
   margin-top: 100px;
   width: 100%;
   display: grid;
   grid-gap: 30px;
   grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
   
  

}
#heading{
    font-style: italic;
    color: whitesmoke;
    font-size: 70px;
}
#meals-container h3{
    color: whitesmoke;
}
#box-container h2{
    color: whitesmoke;
}
#box-container{
    font-style: oblique;
    font-size: 12px;
    color: #0d6efd;
}
 /*
#meals-container {
    flex: 33.33%;
    padding: 5px;
}*/
.wrapper{
    text-align: center;
    padding: 2rem;
    background: scroll;
    max-width: 1200px;
}

.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-item{
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden
}
.not-found{
    color: #0d6efd;
    font-size: 30px;
}
.recipe-btn{
    text-decoration: none;
    color: whitesmoke;
    background:#0d6efd;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.recipe-btn:hover{
    background-color: darkgray;

}

.details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: black;
    background:#0d6efd;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.showRecipe{
    display: block;
}

.content{
    margin: 2rem;
}
.recipe-up-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: white;
    border: none;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
#like-section{
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.8rem;
    border: none;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}
#like-button{
    font-size: 30px;
    margin-left: 20px;
    background-color: oldlace;
}

    
